<div style="float:left;width:100%">
  <div style="float:left"><%= item.name %></div>
  <div style="float:right"><%= link_to "Удалить", item, :method => 'delete',
    :confirm => "Точно удалить груз «#{item.name}»", :class => 'command delete' %></div>
  <div style="float:right">
    <%= link_to "▼", cargo_fields_path(item), :data_section => "cargo#{item.id}", :remote => true, :class => 'command', :id => "expand#{item.id}" %>
  </div>
  <div style="float:right;padding-left:0.5em"><%= item.volume_m %></div>
  <div style="float:right;padding-left:0.5em"><%= item.weight_kg %></div>
</div>
<div id="<%= "cargo#{item.id}" %>">
</div>