<% item = f.object %>
<div style="float:left;width:100%" id="<%= item.id %>">
  <div style="float:left;width:100%;">
    <div style="float:left"><%= item.name %></div>
    <div style="float:right">
      <%#= link_to_function "Удалить", "delCargo($(\"\##{item.id}\"))", :class => 'command delete', :id => "remove#{item.id}" %>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Удалить" %>
    </div>
    <div style="float:right">
      <%= link_to_function "▼", "toggleGroup($j(form#{item.id}), $j(expand#{item.id}))", :class => 'command', :id => "expand#{item.id}" %>
    </div>
    <div style="float:right;padding-left:0.5em"><%= item.volume_m %></div>
    <div style="float:right;padding-left:0.5em"><%= item.weight_kg %></div>
  </div>
  <div id="form<%= item.id %>" style="float:left;display:none">
    <%= render 'cargos/cargo_fields', :f => f, :cargo => item, :all_clients => all_clients %>
  </div>
</div>
