<div class="cargo" >
  <%= f.hidden_field :id %>
  <div class="field">
    <%= f.label :name, "Наименование" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :weight_kg, "Масса" %><br />
    <%= f.text_field :weight_kg %>
  </div>
  <div class="field">
    <%= f.label :volume_m, "Объём" %><br />
    <%= f.text_field :volume_m %>
  </div>
  <div class="field">
    <%= f.label :packing, "Вид упаковки" %><br />
    <%= f.text_field :packing %>
  </div>
  <div class="field">
    <%= f.label :cost, "Объявленная стоимость" %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :temperature, "Температурный режим" %><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :train_type, "Тип состава" %><br />
    <%= f.text_field :train_type %>
  </div>
  <div class="field">
    <%= f.check_box :load %>Погрузка<br />
    <%= f.check_box :seal %>Пломба<br />
    <%= f.check_box :pneumo %>Пневмоподвеска<br />
    <%= f.check_box :lift %>Лифт<br />
  </div>
  <div class="field">
    <%= f.label :requirements, "Дополнительные требования" %><br />
    <%= f.text_field :requirements %>
  </div>
  <div class="field">
    <%= f.label :transportation_charge, "Ставка за перевозку" %><br />
    <%= f.text_field :transportation_charge %>
  </div>
  <%= f.check_box :_destroy %>Удалить
</div>