<%# if all_clients.nil? %>
  <% all_clients = [] %>
  <% Client.all.each { |c| all_clients << [c.name, c.id] } %>
<%# end %>

<div class="cargo" >
  <%= f.hidden_field :id %>
  <div class="field">
    <%= f.label :name, "Наименование" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :weight_kg, "Масса" %><br />
    <%= f.text_field :weight_kg %> кг
  </div>
  <div class="field">
    <%= f.label :volume_m, "Объём" %><br />
    <%= f.text_field :volume_m %> м³
  </div>
  <div class="field">
    <%= f.label :sender_id, "Грузоотправитель" %><br />
    <%= f.select :sender_id, options_for_select(all_clients, f.object.sender_id.to_i), {}, :class => 'client-selector' %>
  </div>
  <div class="field">
    <%= f.label :sender_date, "Дата доставки транспорта" %><br />
    <%= f.calendar_date_select :sender_date, :time => true %>
  </div>
  <div class="field">
    <%= f.label :receiver_id, "Грузополучатель" %><br />
    <%= f.select :receiver_id, options_for_select(all_clients, f.object.receiver_id.to_i), {}, :class => 'client-selector' %>
  </div>
  <div class="field">
    <%= f.label :receiver_date, "Дата доставки транспорта" %><br />
    <%= f.calendar_date_select :receiver_date, :time => true %>
  </div>
  <div class="field">
    <%= f.label :packing, "Вид упаковки" %><br />
    <%= f.text_field :packing %>
  </div>
  <div class="field">
    <%= f.label :seat, "Число мест" %><br />
    <%= f.text_field :seat %>
  </div>
  <div class="field">
    <%= f.label :cost, "Объявленная стоимость" %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :temperature, "Температурный режим" %><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :train_type, "Тип состава" %><br />
    <%= f.text_field :train_type %>
  </div>
  <div class="field">
    <%= f.label :load, "Погрузка" %><br />
    <%= f.text_field :load %>
  </div>
  <div class="field">
    <%= f.check_box :seal %>Пломба<br />
    <%= f.check_box :pneumo %>Пневмоподвеска<br />
    <%= f.check_box :lift %>Лифт<br />
  </div>
  <div class="field">
    <%= f.label :requirements, "Дополнительные требования" %><br />
    <%= f.text_field :requirements %>
  </div>
  <div class="field">
    <%= f.label :transportation_charge, "Ставка за перевозку" %><br />
    <%= f.text_field :transportation_charge %>
  </div>
  <div class="field">
    <%= f.label :tcharge_notes, "Сроки и форма оплаты" %><br />
    <%= f.text_area :tcharge_notes, :style => "width:30em;height:3em;" %>
  </div>
  <div class="field">
    <%= f.label :inner_charge, "Ставка перевозчику" %><br />
    <%= f.text_field :inner_charge %>
  </div>
  <div class="field">
    <%= f.label :icharge_notes, "Сроки и форма оплаты" %><br />
    <%= f.text_area :icharge_notes, :style => "width:30em;height:3em;" %>
  </div>
  <div class="field">
    <%= f.label :prepay_amount, "Предоплата" %><br />
    <%= f.text_field :prepay_amount %>
  </div>
  <div class="field">
    <%= f.label :prepay_notes, "Сроки и форма оплаты" %><br />
    <%= f.text_area :prepay_notes, :style => "width:30em;height:3em;" %>
  </div>
</div>
