<% user = @user if user.nil? %>
<div class="clients">
  <div class="column-left">
    <%= gravatar_for user, :size => 30 %>
    <%= link_to user.name, user %>
  </div>
  <div class="column-right" style="width:15em">
    <% if current_user.admin? %>
      <% if current_user != user %>
        <% if user.banned? %>
          <%= link_to "разблокировать", enable_user_path(user), :remote => true, :class => 'command enable' %>
        <% else %>
          <%= link_to "заблокировать", disable_user_path(user), :remote => true, :class => 'command delete' %>
        <% end %>
      <% end %>
      <%= link_to "изменить", edit_user_path(user), :class => 'command' %>
    <% end %>
  </div>
</div>
