<h1>Редактирование профиля</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name, "Имя" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "Электронная почта" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Пароль" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <% if current_user.admin? && current_user != @user %>
    <div class="field">
    <%= f.label :role, "Роль" %>
    <%= f.select :role, options_for_select(UsersHelper.roles, @user.role) %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">изменить</a>
<div>
