<h1>Создание пользователя</h1>

<%= form_for @user do |f| %>
  <div class="field">

    <%= render 'shared/error_messages', :object => f.object %>

    <%= f.label :name, "Имя" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "Электронная почта" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :schedule, "График работы" %><br />
    <%= f.text_field :schedule %>
  </div>

  <div class="field">
    <%= f.label :password, "Пароль" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Создать" %>
  </div>
<% end %>

