<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
    </td>
    <td class="sidebar">
      <% if current_user.id == @user.id %>
        <%= link_to "Редактировать профиль", edit_user_path(@user) %><br />
      <% end %>
      <strong>График работы: </strong><%= @user.schedule %><br />
    </td>
  </tr>
</table>

<%= render 'orders/table' %>

<%= link_to "добавить заявку", new_order_path(@user), :class => 'command' %>

