<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>Orders</strong> <%= @user.orders.count %>
    </td>
  </tr>
</table>
  <% unless @user.orders.empty? %>
    <table class="orders" summary="My orders">
      <%= render @orders %>
    </table>
    <%= will_paginate @orders %>
  <% end %>
  <%= link_to "add order", new_order_path(@user) %>

