<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <%= link_to "Редактировать профиль", edit_user_path(current_user) %><br />
      <%= pluralize @user.orders.count, "заявка" %>
    </td>
  </tr>
</table>
  <% unless @user.orders.empty? %>
    <table class="orders" summary="My orders">
      <%= render @orders %>
    </table>
    <%= will_paginate @orders %>
  <% end %>
  <%= link_to "add order", new_order_path(@user) %>

