<div class="client_info">
  <div class="column-left">
    <%= gravatar_for @user %>
    <%= @user.name %>
  </div>
  <div class="column-middle">
    <% if current_user.id == @user.id %>
      <%= link_to "Редактировать профиль", edit_user_path(@user) %><br />
    <% end %>
    <strong>График работы: </strong><%= @user.schedule %><br />
  </div>
</div>

<%= render 'orders/table' %>

<%= link_to "добавить заявку", new_order_path(@user), :class => 'command' %>

