<div class="client_info">
  <div style="float:left;width:25%"><h2><%= link_to client.name, client_path(client) %></h2></div><div style="float:right">
    <%= link_to "Изменить", edit_client_path(client), :class => 'command' %>
    <% unless client.used? %>
      <%= link_to "Удалить", client, :method => 'delete', :confirm => "Вы точно больше не будете работать с этим клиентом?", :class => "command delete" %>
    <% end %>
  </div>
  <div style="float:left;padding-bottom:0.75em;">
    <table>
      <tbody>
        <tr>
          <td><strong>График работы: </strong>
          <td><%= client.schedule %>
        </tr>
    <% if client.organization %>
        <tr>
          <td><strong>Контактное лицо: </strong>
          <td><%= client.contact %>
        </tr>
    <% end %>
        <tr>
          <td><strong>Почтовый адрес: </strong>
          <td><%= client.address2.nil? || client.address2.empty? ? client.address1 : client.address2 %>
        </tr>
        <tr>
          <td><strong>Телефон: </strong>
          <td><%= client.phones %></br >
        </tr>
      </tbody>
    </table>
    <div style="float:left;adding-bottom:0.75em;width:25%">
      <%= client.note %>
    </div>
  </div>
</div>
