<div class="menu">
  <%= link_to 'Изменить', edit_client_path(@client), :class => 'command' %>
  <%= link_to_function 'Печатать', 'window.print()', :class => 'command' %>
</div>

<div class="print_order">
  <h1>Договор №<%= @client.identifier %><br />транспортной экспедиции</h1>

  <div style="float:left;width:100%">
    <div style="float:left">г. Омск<br /><%= @client.city %></div>
    <div style="float:right">«___» ________ 20 ____ г.</div>
  </div>

  <p>
    <strict><%= @owner.name %></strict>, именуемое в дальнейшем «Экспедитор», в лице директора <%= @owner.director %>, действующего на основании <%= @owner.identity %>, с одной стороны и <strict><%= @client.name %></strict>, именуемое в дальнейшем «Клиент», в лице <%= @client.director %>, действующего на основании <%= @client.identity %>, вместе или по-отдельности именуемые соответственно «Сторона»/«Стороны», заключили настоящий договор о нижеследующем:
  </p>

  <h2>1. Предмет договора</h2>

  <p>
    1.1. Экспедитор обязуется за вознаграждение и за счет Клиента организовать выполнение определенных настоящим договором услуг, связанных с перевозкой груза (экспедиционные услуги).
  </p>
  <p>
    1.2. Экспедитор оказывает экспедиционные услуги, в соответствии с Заявкой (далее по тексту – «Заявка»), согласованной Сторонами, являющейся неотъемлемой частью настоящего договора.
  </p>
  <p>
Заявка содержит достоверные и полные данные о характере груза, весе, объеме, о количестве грузовых мест, способе погрузки и разгрузки, объявленной стоимости, а также согласованные сторонами условия оказания экспедиционных услуг. Стороны по настоящему договору определяют, что Заявка является экспедиторским документом.
  </p>
  <p>
    1.3. В целях исполнения своих обязательств по настоящему договору Экспедитор имеет право привлекать для исполнения настоящего договора третьих лиц, заключать с ними от своего имени все необходимые договоры.
  </p>
  <p>
    1.4. Клиент обязуется оплатить за организацию перевозки и выполнение транспортно-экспедиционных услуг
определенную плату, оговоренную в Заявке, являющейся неотъемлемой частью договора.
  </p>

  <h2>2. Обязанности сторон</h2>

  <h3>2.1. Экспедитор обязан:</h3>
  <p>
    2.1.1 Подать под загрузку транспортное средство на дату и в часы, указанные в Заявке.
  </p>
  <p>
    2.1.2. Обеспечить технически исправное состояние транспортного средства, пригодного к выполнению перевозок соответствующих грузов и отвечающего санитарным требованиям.
  </p>
  <p>
    2.1.3. При необходимости во исполнение настоящего договора заключать от своего имени договоры перевозки с третьими лицами.
  </p>
  <p>
    2.1.4. Расписываться в ТТН либо ином документе, сопровождающим груз, что свидетельствует о приеме груза к перевозке.
  </p>
  <p>
    2.1.5. Доставить вверенный ему груз в пункт назначения указанный Клиентом в Заявке и передать его уполномоченному на получение груза лицу (Грузополучателю) в установленные Клиентом сроки. В случае каких-либо задержек, не позволяющих выполнить перевозку в обусловленный срок, Экспедитор немедленно извещает об этом Клиент и принимает меры, необходимые для реализации перевозки в срок.
  </p>
  <p>
    2.1.6. Осуществлять контроль за ходом перевозки грузов, оперативно информируя Клиента обо всех изменениях, имеющих значение для интересов Клиента.
  </p>
  <p>
    2.1.7. По прибытию на место разгрузки, указанного в Заявке, сдать документы и груз представителю грузополучателя.
  </p>
  <p>
    2.1.8. Предупредить Клиента о невозможности обеспечить подачу транспортного средства по заявке за 3 часа до начала перевозки.
  </p>
  <p>
    2.1.9. По факту оказания экспедиционных услуг предоставить Клиенту надлежащим образом оформленные документы: счет-фактуру, акт об оказанных услугах (выполненных работ), а также передать документ, подтверждающий перевозку груза (ТТН или иные документы).
  </p>

  <h3>2.2. Клиент обязан:</h3>
  <p>
    2.2.1. Согласовать с Экспедитором условия оказания транспортно-экспедиционных услуг по настоящему договору путем подписания Заявки.
  </p>
  <p>
    В Заявке должны содержаться достоверные и полные данные о характере груза, весе, объеме, о количестве грузовых мест, способе погрузки и разгрузки, объявленной стоимости.
  </p>
  <p>
    Заявка составляется в письменной форме, подписывается Сторонами и передается Экспедитору курьером либо отправляется по факсу, по почте или электронной почте. Обо всех изменениях в указанных выше сведениях Клиент обязан незамедлительно сообщать Экспедитору.
  </p>
  <p>
    В случае необходимости Клиент обязан предоставить Экспедитору дополнительную информацию для исполнения Экспедитором настоящего договора.
  </p>
  <p>
    2.2.2. Предоставлять Экспедитору на подлежащие перевозке грузы доверенность, товарно-транспортную накладную установленной формы, являющуюся основным перевозочным документом, по которому производится приемка грузов к перевозке и их сдача получателю, а также иные необходимые документы, в т.ч. документы, необходимые для
прохождения таможенного и санитарного контроля.
  </p>
  <p>
    Грузы, не оформленные товарно-транспортными накладными, к перевозке Экспедитором не принимаются.
  </p>
  <p>
    2.2.3. В случае принятия к перевозке грузов от третьего лица (грузоотправителя) по поручению Клиента предоставить Экспедитору документ, позволяющий получить грузы у третьего лица (грузоотправителя).
  </p>
  <p>
    2.2.4. Своевременно и надлежащим образом оплачивать услуги Экспедитора, согласно Заявке.
  </p>

<%= render :partial => 'shippers/footer', :locals => { :page_num => 1, :page_count => 3, :left => 'Экспедитор', :right => 'Клиент' } %>


  <p>
    2.2.5. Своими силами осуществляет погрузку груза на транспорт Экспедитора. Разгрузка в пунктах назначения производится силами Грузополучателя.
  </p>
  <p>
    2.2.6. Организовывает погрузо-разгрузочные работы автомобиля Экспедитора в течение шести часов при условии прибытия данного автомобиля в данный пункт не позднее 14.00. В случае прибытия автомобиля Экспедитора в пункт доставки с 14-00 час. до 17-00 час. Клиент обязан организовать погрузо-разгрузочные работы до 12-00 час. следующего дня. В случае прибытия автомобиля Экспедитора после 17-00 час., Клиент обязан организовать погрузо-разгрузочные работы до 14-00 час. следующего дня. Фактическое время прибытия автомобиля определяется на основании правильно оформленного путевого листа Экспедитора (штамп и роспись обязательны).
  </p>
  <p>
    2.2.7. Содержать подъездные пути к пунктам погрузки, а также погрузочно-разгрузочные площадки в исправном состоянии, обеспечивающем беспрепятственное и безопасное движение и свободное маневрирование автомобилей.
  </p>
  <p>
    2.3. После приемки груза Экспедитором, доверенное лицо Клиента имеет право опломбировать груз с обязательной отметкой в документах, сопровождающих груз.
  </p>

  <h2>3. Расчёты за перевозку</h2>

  <p>
    3.1. Стоимость транспортно-экспедиционных услуг по настоящему договору определяется по соглашению сторон и оговаривается в Заявке, согласованной Сторонами.
  </p>
  <p>
    3.2. Общая стоимость услуг по настоящему договору определяется на основании всех исполненных за период действия настоящего договора Заявок.
  </p>
  <p>
    3.3. Оплата услуг по настоящему договору производится Клиентом путем перечисления денежных средств на расчетный счет Экспедитора в течение 5 банковских дней со дня получения Клиентом счета от Экспедитора.
  </p>
  <p>
    Стороны могут предусмотреть иной порядок расчетов, который закрепляется сторонами путем подписания двухстороннего документа.
  </p>

  <h2>4. Ответственность сторон</h2>

  <p>
    4.1. Экспедитор несет ответственность перед Клиентом в виде возмещения реального ущерба за утрату, недостачу или повреждение (порчу) груза после принятия его Экспедитором и до выдачи груза получателю, указанному в Заявке, либо уполномоченному им лицу, если не докажет, что утрата, недостача или повреждение (порча) груза произошли вследствие обстоятельств, которые Экспедитор не мог предотвратить и устранение которых от него не зависело, в следующих размерах:
  </p>
  <p>
    1) за утрату или недостачу груза, принятого Экспедитором для перевозки с объявлением ценности, в размере объявленной ценности или части объявленной ценности, пропорциональной недостающей части груза;
  </p>
  <p>
    2) за утрату или недостачу груза, принятого Экспедитором для перевозки без объявления ценности, в размере действительной (документально подтвержденной) стоимости груза или недостающей его части;
  </p>
  <p>
    3) за повреждение (порчу) груза, принятого Экспедитором для перевозки с объявлением ценности, в размере суммы, на которую понизилась объявленная ценность, а при невозможности восстановления поврежденного груза в размере объявленной ценности;
  </p>
  <p>
    4) за повреждение (порчу) груза, принятого Экспедитором для перевозки без объявления ценности, в размере суммы, на которую понизилась действительная (документально подтвержденная) стоимость груза, а при невозможности восстановления поврежденного груза в размере действительной (документально подтвержденной) стоимости груза.
  </p>
  <p>
    4.2. За доставку груза с нарушением времени доставки, указанного в Заявке, более чем на 24 часа, Клиент имеет право потребовать от Экспедитора уплаты пени в размере 0,1% от стоимости перевозки груза, за каждые полные сутки опоздания.
  </p>
  <p>
    4.3. В случае если для перевозки подали автомобиль, не соответствующий требованиям Клиента, согласованным в Заявке, последний вправе отказаться от его использования.
  </p>
  <p>
    4.4. В случае одностороннего отказа от исполнения настоящего договору виновная Сторона возмещает другой Стороне убытки, вызванные отказом от исполнения договора, и уплачивает штраф в размере десяти процентов суммы понесенных стороной затрат.
  </p>
  <p>
    4.5. В случае неоплаты либо несвоевременной оплаты за оказанные по настоящему договору экспедиторские услуги Экспедитор вправе потребовать от Клиента уплаты пени в размере 0,1% от суммы, подлежащей к выплате за каждый день просрочки.
  </p>
  <p>
    4.6. В случае не выполнения п.п. 2.2.6. настоящего договора Клиент оплачивает Экспедитору сумму в размере 1500 (Одна тысяча пятьсот) рублей за каждый день простоя автомобиля.
  </p>
  <p>
    4.7. За непредъявление для перевозки груза, предусмотренного Заявкой, Клиент уплачивает Экспедитору штраф в размере 2000 (Две тысячи) рублей за каждый случай отказа от доставки.
  </p>

  <h2>5.Форс-мажор</h2>

  <p>
    5.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по настоящему Договору в случае возникновения обстоятельств непреодолимой силы, которые ни одна из Сторон была не в состоянии предвидеть и предотвратить разумными мерами, и которые повлияли на исполнение Сторонами своих
обязательств по настоящему Договору.
  </p>
  <p>
    5.2. К обстоятельствам непреодолимой силы относятся события, на которые Стороны не могут оказать влияния и за возникновение которых они не несут ответственности, например, землетрясения, наводнения, ураганы и другие стихийные бедствия; войны, военные действия, пожары, а также постановления или распоряжения органов государственной власти и управления.
  </p>
  <p>
    5.3. Сторона, которая не в состоянии выполнить свои обязательства по настоящему Договору в силу возникновения<br />

<%= render :partial => 'shippers/footer', :locals => { :page_num => 2, :page_count => 3, :left => 'Экспедитор', :right => 'Клиент' } %>


обстоятельств непреодолимой силы, обязана в течение 20 (двадцати) дней информировать другую Сторону о наступлении таких обстоятельств.
  </p>
  <p>
    5.4. Если подобные обстоятельства продлятся более 30 (тридцати) дней подряд, то любая из Сторон вправе расторгнуть настоящий Договор в одностороннем порядке, известив об этом другую Сторону не менее чем за 5 (пять) дней до даты предполагаемого расторжения.
  </p>

  <h2>6. Срок действия договора</h2>

  <p>
    6.1. Настоящий договор вступает в силу с «___» __________ 20__ г. и действует до 31 декабря 20___ года (включительно).
  </p>
  <p>
    В случае если ни одна из Сторон не заявит письменно о его прекращении по окончании срока действия настоящего договора договор считается продленным (пролонгированным) на следующий календарный год. Количество пролонгаций не ограничено.
  </p>
  <p>6.2. Действие настоящего договора может быть прекращено:</p>
    <ul>
      <li>- по взаимному согласию сторон, оформленному письменно;
      <li>- в любое время любой стороной при подаче письменного заявления не менее чем за 10 дней до момента прекращения
его действия.
    </ul>

  <h2>7. Заключительные положения</h2>

  <p>
    7.1. Во всем, что не урегулировано настоящим договором, стороны будут руководствоваться действующим законодательством РФ.
  </p>
  <p>
    7.2. Все споры, возникающие при исполнении или расторжении настоящего договора, решаются путем переговоров. Срок рассмотрения претензии Клиентом 10 (Десять) календарных дней со дня ее получения.
  </p>
  <p>
    7.3. Срок подачи претензии Клиентом — не позднее 6 месяцев с момента подписания акта об оказанных услугах. Срок рассмотрения претензии Экспедитором 30 (Тридцать) календарных дней со дня ее получения.
  </p>
  <p>
    К претензии об утрате, о недостаче или повреждении (порче) груза должны быть приложены документы, подтверждающие право на предъявление претензии и документы, подтверждающие количество и стоимость отправленного груза, в подлиннике или засвидетельствованные в установленном порядке копии.
  </p>
  <p>
    7.4. Все споры и разногласия по настоящему договору, не урегулированные сторонами путем переговоров разрешаются в Арбитражном суде Омской области.
  </p>
  <p>
    7.5. Все документы и переписка по настоящему договору должны быть совершены сторонами в письменном виде и подписаны уполномоченными лицами.
  </p>
  <p>
    Стороны по настоящему договору пришли к соглашению о том, что допускается обмен документами по заключению, исполнению или расторжению настоящего договора (договор, заявка, уведомления и пр.) посредством факсимильной или электронной почты, данные документы признаются действительными и имеющими юридическую силу.
  </p>
  <p>
    7.6. Все изменения и дополнения действительны лишь в том случае, если они оформлены в письменном виде и подписаны обеими сторонами.
  </p>
  <p>
    7.7. Настоящий договор составлен в двух экземплярах, обладающих одинаковой юридической силой, по одному для каждой из сторон.
  </p>
  <p>
    7.8. Все Приложения к настоящему договору являются его неотъемлемыми частями.
  </p>

  <h2>8. Юридические адреса, банковские реквизиты и подписи сторон</h2>

  <table class="print_order">
    <tr>
      <th style="width:50%">Экспедитор
      <th>Клиент
    </tr>
    <tr>
      <td><strong>Адрес м/я: </strong><%= @owner.address1 %>
      <td><strong>Адрес м/я: </strong><%= @client.address1 %>
    </tr>
    <tr>
      <td><strong>Адрес почтовый: </strong><%= @owner.address2.empty? ? @owner.address1 : @owner.address2 %>
      <td><strong>Адрес почтовый: </strong><%= @client.address2.empty? ? @client.address1 : @client.address2 %>
    </tr>
    <tr>
      <td><strong>ИНН/КПП </strong><%= @owner.inn %>/<%= @owner.kpp %>
      <td><strong>ИНН/КПП </strong><%= "#{@client.inn || ''} / #{@client.kpp || ''}" %>
    </tr>
    <tr>
      <td><strong>р/с </strong><%= @owner.account || '' %>
      <td><strong>р/с </strong><%= @client.account || '' %>
    </tr>
    <tr>
      <td><strong>Банк: </strong><%= @owner.ati || '' %>
      <td><strong>Банк: </strong><%= @client.ati || '' %>
    </tr>
    <tr>
      <td><strong>к/с </strong><%= @owner.corr_account || '' %>
      <td><strong>к/с </strong><%= @client.corr_account || '' %>
    </tr>
    <tr>
      <td><strong>БИК </strong><%= @owner.bic || '' %>
      <td><strong>БИК </strong><%= @client.bic || '' %>
    </tr>
    <tr>
      <td><strong>Тел/факс </strong><%= @owner.faxes || '' %>
      <td><strong>Тел/факс </strong><%= @client.faxes || '' %>
    </tr>
    <tr>
      <td><strong>Тел/факс </strong><%= @owner.phones || '' %>
      <td><strong>Тел/факс </strong><%= @client.phones || '' %>
    </tr>
    <tr>
      <td><strong>e-mail: </strong><%= @owner.email || '' %>
      <td><strong>e-mail: </strong><%= @client.email || '' %>
    </tr>
  </table>
</div>

<%= render :partial => 'shippers/footer', :locals => { :page_num => 3, :page_count => 3, :left => 'Экспедитор', :right => 'Клиент' } %>

