<script type="text/javascript">
    $j(document).ready(function() {
        $j('a[data-remote]').live('ajax:complete', editDialog);
    });
</script>

<h2>Наши клиенты</h2>
<div class="list-menu">
  <%= link_to "Добавить", new_client_path, :class => 'command', :remote => true %>
</div>

<div class="clients">
  <%= will_paginate %>
  <%= render @clients %>
  <%= will_paginate %>
</div>

<div class="list-menu">
  <%= link_to "Добавить", new_client_path, :class => 'command', :remote => true %>
</div>

