<h1>Наши клиенты</h1>
<% @clients.each do |c| %>
  <div class="client_info">
    <div style="float:left;">
      <h2><%= link_to c.name, client_path(c) %></h2>
    </div>
    <div style="float:left">
      <p><strong>График работы: </strong><%= c.schedule %></p>
      <% if c.organization %>
        <p><strong>Контактное лицо: </strong><%= c.contact %></p>
      <% end %>
      <p><strong>Почтовый адрес: </strong><%= c.address %></p>
      <p><strong>Телефоны: </strong><%= c.phones %></p>
      <p><%= c.notes %></p>
    </div>
  </div>
<% end %>
<%= link_to "Добавить", new_client_path, :style => 'command' %>
