<% store_location %>

<% all_clients = [] %>
<% Client.all.each { |c| all_clients << [c.name, c.id] } %>
<%= javascript_include_tag 'jquery', 'nested_form' %>
<script type="text/javascript">
  function editCargo(form, button) {
    form.slideToggle(250);
    button.text(button.text() == '▼' ? '▲' : '▼');
  }
  function addCargo() {
    var newDiv = $('div#cargo-template').clone();
    var now = new Date();
    var newId = ((now.getHours())*60 + now.getMinutes())*60 + now.getSeconds();
    newDiv.attr("id", "box" + newId);
    id = newDiv.find("#cargo_id");
    id.attr("id", newId);
    id.val(newId);
    newDiv.find('div#cargo').attr("id", "cargo" + newId);
    expand = newDiv.find('#expand');
    expand.attr('id', 'expand' + newId);
    expand.attr('onclick', 'editCargo($(cargo' + newId + '), $(expand' + newId + ')); return false;');
    remove = newDiv.find('#remove');
    remove.attr('remove' + newId);
    remove.attr('onclick', 'delCargo($(box' + newId + ')); return false;');
    $('div#cargos').append(newDiv);
    newDiv.show(250);
  }
  function delCargo(item) {
    item.hide(250);
  }
  //$.noConflict();
  jQuery(document).ready(function() {
    $('a#add-cargo').click(function() {
      $('#cargos div:first').clone().find('id').val('')
      .end().append('#cargos');
    });

    $('.delete-cargo').live('click', function() {
      if ($('#cargos div').length > 1)
        $(this).parent().remove();
      else
        alert('You need at least one cargo.')
    });
  });
</script>

<%= form_for(@order) do |f| %>
  <% render 'shared/error_messages', :object => f.object %>
  <div style="width:100%;float:left">
    <div class="box">
      <div class="field">
        <%= f.label :forwarder, "Экспедитор" %><br />
        <% usrs = [] %>
        <% User.all.each { |u| usrs << [u.name, u.id]} %>
        <%= f.select :forwarder_id, options_for_select(usrs, @order.forwarder_id.to_i) %>
      </div>
      <div class="field">
        <%= f.label :committed_at, "Дата оформления" %><br />
        <%= f.calendar_date_select :committed_at %>
      </div>
      <div class="field">
        <%= f.check_box :signed %>Подписана<br />
        <%= f.check_box :paid %>Оплачена<br />
        <%= f.check_box :completed %>Выполнена<br />
      </div>
      <div class="field">
        <%= f.label :info, "Комментарий" %><br />
        <%= f.text_area :info %>
      </div>
    </div>
    <div class="box">
      <div class="field">
        <%= f.label :client_id, "Заказчик" %><br />
        <%= f.select :client_id, options_for_select(all_clients, @order.client_id.to_i) %>
        <%= link_to "Добавить", new_client_path %> 
      </div>
      <div class="field">
        <%= f.label :sender_id, "Отправитель" %><br />
        <%= f.select :sender_id, options_for_select(all_clients, @order.sender_id.to_i) %>
        <%= link_to "Добавить", new_client_path %> 
      </div>
      <div class="field">
        <%= f.label :receiver_id, "Получатель" %><br />
        <%= f.select :receiver_id, options_for_select(all_clients, @order.receiver_id.to_i) %>
        <%= link_to "Добавить", new_client_path %> 
      </div>
    </div>

    <div class="box">
      <h2>Груз</h2>
      <div id="cargo" style="width:100%">
        <% unless @order.id.nil? %>
          <% @order.cargos.each do |c| %>
            <%= f.fields_for :cargos, c, :child_index => (c.new_record? ? "index_to_replace_with_js" : nil) do |cargo_fm| %>
              <%= render 'cargos/cargo', :f => cargo_fm %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= add_object_link("Добавить груз", f, Cargo.new, "cargos/cargo", "#cargo") %>
      </div>
    </div>

    <div class="box">
      <h2>Водитель</h2>
    </div>

    <div class="box">
      <h2>Транспорт</h2>
    </div>
  
    <div class="actions">
      <%= f.submit "Сохранить" %>
    </div>
  </div>

<% end %>
