<% store_location %>

<% all_clients = [] %>
<% Client.all.each { |c| all_clients << [c.name, c.id] } %>
<%= javascript_include_tag 'date' %>

<script type="text/javascript">
  function toggleGroup(form, button) {
    form.slideToggle(150);
    button.text(button.text() == '▼' ? '▲' : '▼');
  }

  function delCargo(item) {
    // Attr change does not affect on checkbox state,
    // so I am using plain check box yet
    item.find(".delete-check").attr('checked', true);
    item.hide(150);
  }

  $j(document).ready(function() {
    $j('a[data-remote]').live('ajax:complete', function(e, xhr, status) {
      if (/order-status-option/.exec($j(this).attr('class'))) {
        $j(this).parent().parent().parent().html(xhr.responseText);
        return false;
      } else {
        return editDialog(e, xhr, status);
      }
    });
  });
</script>

<%= form_for(@order) do |f| %>
  <% render 'shared/error_messages', :object => f.object %>
  <div>
    <div class="box">
      <div class="field">
        <%= f.label :forwarder, "Экспедитор" %><br />
        <% usrs = [] %>
        <% User.all.each { |u| usrs << [u.name, u.id]} %>
        <%= f.select :forwarder_id, options_for_select(usrs, @order.forwarder_id.to_i) %>
      </div>
      <div class="field">
        <%= f.label :committed_at, "Дата оформления" %><br />
        <%= f.calendar_date_select :committed_at %>
      </div>
      <div class="field">
        <%= f.label :info, "Комментарий" %><br />
        <%= f.text_area :info, :style => "height:2em" %>
      </div>
    </div>
    <div class="box">
      <div class="field">
        <%= f.label :client_id, "Заказчик" %><br />
        <%= f.select :client_id, options_for_select(all_clients, @order.client_id.to_i), {}, :class => 'client-selector' %>
        <%= link_to "Добавить", new_client_path, :remote => true, :alias => 'Добавление заказчика', :class => 'command' %>
      </div>
    </div>

    <div class="box">
      <% all_shippers = [] %>
      <% Shipper.all.each { |shipper| all_shippers << [shipper.name, shipper.id] } %>
      <div class="field">
        <%= f.label :shipper_id, "Перевозчик" %><br />
        <%= f.select :shipper_id, options_for_select(all_shippers, @order.shipper_id.to_i) %>
        <%= link_to "Добавить", new_shipper_path, :alias => 'Добавление перевозчика', :remote => true, :class => 'command' %>
      </div>
    </div>

    <div class="box">
      <% all_drivers = [] %>
      <% Driver.all.each { |c| all_drivers << [c.name, c.id] } %>
      <div class="field">
        <%= f.label :driver_id, "Водитель" %><br />
        <%= f.select :driver_id, options_for_select(all_drivers, @order.driver_id.to_i) %>
        <%= link_to "Добавить", new_driver_path, :remote => true, :class => 'command', :alias => 'Добавление водителя' %>
      </div>
    </div>

    <div class="box">
      <% all_trucks, all_trailers = [], [] %>
      <% Car.all.each { |truck|
        if truck.is_trailer?
          all_trailers << ["#{truck.model} #{truck.identity}", truck.id]
        else
          all_trucks << ["#{truck.model} #{truck.identity}", truck.id]
        end
      }%>
      <div class="field">
        <%= f.label :truck_id, "Тягач" %><br />
        <%= f.select :truck_id, options_for_select(all_trucks, @order.truck_id.to_i) %>
        <%= link_to "Добавить", new_truck_path, :remote => true, :class => 'command', :alias => 'Добавление транспорта' %>
      </div>
      <div class="field">
        <%= f.label :trailer_id, "Прицеп" %><br />
        <%= f.select :trailer_id, options_for_select(all_trailers, @order.trailer_id.to_i) %>
        <%= link_to "Добавить", new_trailer_path, :remote => true, :class => 'command', :alias => 'Добавление прицепа' %>
      </div>
    </div>

    <div class="box">
      <%= f.label :cargos, "Груз" %>
      <div id="cargo">
        <% unless @order.id.nil? %>
            <% @order.cargos.each do |c| %>
                <%= f.fields_for :cargos, c, :child_index => (c.new_record? ? "index_to_replace_with_js" : nil) do |cargo_fm| %>
                    <%= render 'cargos/cargo', :f => cargo_fm, :cargo => c, :all_clients => all_clients %>
                <% end %>
            <% end %>
        <% end %>
      </div>
      <div>
        <%= add_object_link("Добавить груз", f, Cargo.new, "cargos/new_cargo", "#cargo") %>
      </div>
    </div>

  </div>

    <div class="actions">
      <%= f.submit "Сохранить" %>
    </div>

<% end %>
