<div class="menu">
  <% if current_user.id == @order.forwarder_id || current_user.admin? %>
    <%= link_to "Изменить", edit_order_path(@order), :class => "command" %>
  <% end %>
  <%= link_to_function "Напечатать", "window.print()", :class => "command" %>
  <%= link_to "Поручение", charge_path(@order), :class => "command" %>
</div>

<div class="print_order">
  <h1>Заявка на оказание транспортно-экспедиционных услуг №<%= @order.num %> от <%= date_to_s @order.committed_at %></h1>

  <div class="order_header">
    Экспедитор и его адрес: <%= @owner.name %>, <%= @owner.address1 %><br />
    Телефоны экспедитора: <%= @owner.phones %><br />
    Контактное лицо экспедитора: <%= @order.forwarder.name %><br />
    Режим работы экспедитора: <%= @order.forwarder.schedule %><br />
  </div>

  <h2>Информация об участниках</h2>
  <table border="1" cellpadding="0" cellspacing="0" class="print_order" style="width:100%">
    <tr>
      <th>Параметр
      <th>Клиент
      <th colspan="<%= @cargos.length %>">Грузоотправитель
      <th colspan="<%= @cargos.length %>">Грузополучатель
    </tr>
    <%= render 'member_table' %>
  </table>

  <h2>Информация о грузе, требуемом подвижном составе и оплате</h2>

  <table border=1 cellpadding=0 cellspacing=0 class="print_order" style="width:100%">
    <% @cargos.each do |cargo| %>
      <tr>
        <td style="width:75mm">1. Наименование/Вес/Объём
        <td><%= cargo.name %>/<%= cargo.weight %>/<%= cargo.volume %>
      </tr>
      <tr>
        <td>2. Вид упаковки
        <td><%= cargo.packing %>
      </tr>
      <tr>
        <td>3. Объявленная стоимость, руб.
        <td><%= "#{cargo.cost} (#{cargo.cost.to_currency unless cargo.cost.nil?})" %>
      </tr>
      <tr>
        <td>4. Температурный режим
        <td><%= cargo.temperature %>
      </tr>
      <tr>
        <td>5. Тип состава/Погрузка/Пломба
        <td><%= "#{cargo.train_type}/#{cargo.load ? 'Да' : 'Нет'}/#{cargo.seal ? 'Да' : 'Нет'}" %>
      </tr>
      <tr>
        <td>6. Пневмоподвеска/Лифт
        <td><%= "Пневмоподвеска #{'не' if !cargo.pneumo}обязательна/Лифт #{'не' if !cargo.lift}обязателен" %>
      </tr>
      <tr>
        <td>7. Дополнительные требования
        <td><%= cargo.requirements %>
      </tr>
      <tr>
        <td>8. Ставка за перевозку с НДС, руб.
        <td><%= "#{cargo.transportation_charge} (#{cargo.transportation_charge.to_currency unless cargo.transportation_charge.nil?})" %>
      </tr>
      <tr>
        <td>9. Сроки и форма оплаты
        <td><%= cargo.tcharge_notes %>
      </tr>
      <tr>
        <td>10. Номер ТТН/Дата ТТН
        <td><%= "#{cargo.bill_id}/#{cargo.bill_date}" %>
      </tr>
    <% end %>
  </table>



  <h2>Информация о Водителе и транспортном средстве</h2>
  <% driver = @order.driver %>

  <table border=1 cellpadding=0 cellspacing=0 class="print_order" style="width:100%">
    <tr>
      <td style="width:75mm">1. ФИО, год рождения
      <td><%= driver.name %>
    </tr>
    <tr>
      <td>2. Паспортные данные, дата выдачи, код под-ния
      <td><%= driver.identity %>
    </tr>
    <tr>
      <td>3. Телефоны для связи (все)
      <td><%= driver.phone %>
    </tr>
    <% truck = @order.truck %>
    <tr>
      <td>4. Марка автомобиля
      <td><%= truck.model %>
    </tr>
    <tr>
      <td>5. Гос. номер автомобиля
      <td><%= truck.identity %>
    </tr>
    <tr>
      <td>6. Тип кузова / V кузова, м<sup>3</sup>
      <td><%= truck.base %><%= ('/'+truck.volume) unless truck.volume_m.nil? %>
    </tr>
    <% trailer = @order.trailer %>
    <tr>
      <td>7. Гос. номер прицепа
      <td><%= trailer.identity unless trailer.nil? %>
    </tr>
    <tr>
      <td>8. Тип прицепа / V прицепа, м<sup>3</sup>
      <td><%= "#{trailer.model}/#{trailer.volume}" %>
    </tr>
  </table>

  <h3>Клиент обязан:</h3>
  
  <p>
    Своевременно представить экспедитору полную, точную и достоверную информацию о свойствах
  груза, об условиях его перевозки и иную информацию, необходимую для исполнения экспедитором
  обязанностей, предусмотренных договором транспортной экспедиции, и документы, необходимые для
  осуществления таможенного, санитарного контроля, других видов государственного контроля.
  </p>
  <p>
    Срок разгрузки и загрузки - 12 часов, при условии подачи а/м не позднее указанного в заявке времени.
  </p>

  <table border=0 cellpadding=0 cellspacing=0 style="width:100%" class="order_signs">
    <tr>
      <td style="height:3em;vertical-align:bottom;text-align:right">Экспедитор:
      <td style="border-bottom:1px solid;width:35%">
      <td>
      <td style="height:3em;vertical-align:bottom;text-align:right">Клиент:
      <td style="border-bottom:1px solid;width:35%">
    </tr>
    <tr>
      <td>
      <td>М.П.
      <td>
      <td>
      <td>М.П.
    </tr>
  </table>
</div>
<div class="menu">
  <% if current_user.id == @order.forwarder_id || current_user.admin? %>
      <%= link_to "Изменить", edit_order_path(@order), :class => "command" %>
  <% end %>
  <%= link_to_function "Напечатать", "window.print()", :class => "command" %>
  <%= link_to "Поручение", charge_path(@order), :class => "command" %>
</div>
