<script type="text/javascript">
  function toggleExpansion(button) {
      button.text(button.text() == '▼' ? '▲' : '▼');
      var shipper_id = button.attr('id').substring(6);
      var container = $j('#form' + shipper_id);
      container.slideToggle(150);
  }

  $j(document).ready(function() {
    // Toggle order list visibility 
    $j('a[data-remote=false].expand').live('click', function(event) {
      event.preventDefault();
      toggleExpansion($j(this));
      return false;
    });
  
    // Block getting order list second time
    $j('a[data-remote=false].expand').live('ajax:before', function(event) {
      // Decpite we have turned 'data-remote' off, rails.js is still
      // executing ajax request on click, so we are to cancel it:
      return false;
    });

    // Build order list
    $j('a[data-remote=true].expand').live('ajax:complete', function(event, xhr, status) {
      var button = $j(this);
      event.preventDefault();
      button.attr('data-remote', false);
      var shipper_id = button.attr('id').substring(6);
      var container = $j('#form' + shipper_id);
      container.html(xhr.responseText);
      if (container.find('td').length == 0) {
        // To have just something within the table
        container.find('table').append('<tr><td>Нет ни одного заказа</tr>');
      }
      toggleExpansion(button);
      return false;
    });

    // Edit shipper data
    $j('a[data-remote].edit').live('ajax:complete', editDialog);

    // Add new shipper
    $j('a[data-remote].append').live('ajax:complete', editDialog);
  });
</script>

<h2><%= @title %></h2>

<div class="list-menu">
<%= link_to "Добавить", new_shipper_path, :class => 'command append', :remote => true %>
</div>

<div id="client">
<%= will_paginate %>

<% @shippers.each do |shipper| %>
  <%= render :partial => 'shipper', :object => shipper %>
<% end %>

<%= will_paginate %>
</div>

<div class="list-menu">
<%= link_to "Добавить", new_shipper_path, :class => 'command append', :remote => true %>
</div>