<h2><%= @title %></h2>

<%= will_paginate %>

<% @shippers.each do |shipper| %>
  <%= render :partial => 'shipper', :object => shipper %>
<% end %>

<%= will_paginate %>

<%= link_to "Добавить", new_shipper_path, :class => 'command' %>
