<div class="menu">
  <%= link_to "Изменить", edit_shipper_path(@shipper), :class => 'command' %>
  <%= link_to_function "Напечатать", "window.print()", :class => 'command' %>
</div>

<div class="print_order">
  <h2>ДОГОВОР №<%= @shipper.id %><br />
транспортной экспедиции</h2>
<div style="float:left;width:100%;">
  <div style="float:left">
    г.Омск
  </div>
  <div style="float:right">
    <%= @shipper.created_at.strftime "«%d» %M %Y г." %>
  </div>
</div>
<p>
<strong><%= company_name %></strong>, именуемое в дальнейшем «Экспедитор», в лице директора Осипова Сергея Владимировича, действующего на основании Устава, с одной стороны и <strong><%= @shipper.name %></strong>, именуемое в дальнейшем «Клиент», в лице <%= @shipper.director %>, действующего на основании <%= @shipper.registration %>, вместе или по-отдельности именуемые соответственно «Сторона»/»Стороны», заключили настоящий договор о нижеследующем:
</p>
<h3>1. Предмет договора</h3>
<p>
1.1. По настоящему договору Перевозчик обязуется доставить вверенный ему Заказчиком груз (далее по тексту договора – «Груз») в пункт назначения и выдать его грузополучателю, а Заказчик обязуется уплатить за перевозку Груза установленную плату.
</p><p>
Наименование, характер груза, вес, объем, количество грузовых мест, пункт назначения, грузополучатель, а также иные условия определяются Сторонами в Заявке, которая является неотъемлемой частью настоящего договора.
</p><p>
1.2. В рамках настоящего договора Перевозчик может оказывать Заказчику экспедиционные услуги, такие как организовывать перевозку груза транспортом и по маршруту, избранному Заказчиком, заключать от своего имени договора перевозки груза, обеспечивать отправку и получение груза.
</p><p>
В целях реализации настоящего пункта Перевозчик вправе привлекать для исполнения
настоящего договора третьих лиц, заключать с ними от своего имени все необходимые договора.
</p>

<h3>2. Права и обязанности сторон</h3>
<p>
2.1. Заказчик вправе:
</p><p>
2.1.1. Требовать исполнения обязательств по настоящему договору надлежащим образом.
</p><p>
2.1.2. Аннулировать Заявку либо отказаться от Заявки, предупредив об этом Перевозчика за 24 часа до начала оказания услуг, направив в адрес последнего сообщение посредством факсимильной связи.
</p><p>
2.2. Заказчик обязан:
</p><p>
2.2.1. Передать Груз Перевозчику в срок, согласованный в Заявке.
</p><p>
2.2.2. Содержать подъездные пути к пунктам погрузки на эстакаде, а также погрузочно-разгрузочные площадки в исправном состоянии, обеспечивающем беспрепятственное и безопасное движение и свободное маневрирование автомобилей.
</p><p>
2.2.3. Подать Заявку на оказание услуг по настоящему договору за 24 часа до оказания услуг.
</p><p>
В Заявке должны содержаться достоверные и полные данные о характере груза, весе, объеме, о количестве грузовых мест, способе погрузки и разгрузки, объявленной стоимости. В Заявке Стороны согласовывают также условия о транспортном средстве Перевозчика, о водителе (фамилия, имя, отчество), дате прибытия Груза к грузополучателю, и другие сведения, необходимые для осуществления перевозки.
</p><p>
Заявка составляется в письменной форме, подписывается Сторонами и передается Перевозчику курьером либо отправляется по факсу, по почте или электронной почте. Обо всех изменениях в указанных выше сведениях Заказчик обязан незамедлительно сообщать Перевозчику.
</p><p>
В случае необходимости Заказчик обязан предоставить Перевозчику дополнительную
информацию для исполнения Перевозчиком настоящего договора.
</p><p>
2.2.4. Организовать погрузо-разгрузочные работы автомобиля Перевозчика в пунктах погрузки/доставки в течение шести часов при условии прибытия данного автомобиля в данный пункт не позднее 14.00. В случае прибытия автомобиля Перевозчика в пункт доставки/погрузки с 14.00 до 17.00, Заказчик обязан организовать погрузо-разгрузочные работы до 12.00 следующего дня. В случае прибытия автомобиля Перевозчика в пункт доставки/погрузки после 17.00, Заказчик обязан организовать погрузо-разгрузочные работы до 14.00 следующего дня.
</p><p>
2.2.5. Погрузка Груза осуществляется силами грузоотправителя. Разгрузка в пунктах назначения производится силами грузополучателя.
</p>
<%= render :partial => 'footer', :locals => { :page_num => 1, :page_count => 4 } %>

<p>
2.2.6. После приемки груза Перевозчиком доверенное лицо Заказчика имеет право опломбировать машину с отметкой в ТТН.
</p><p>
2.2.7. Известить Перевозчика не менее чем за 24 часа до начала оказания услуг об аннулировании Заявки, либо об отказе от Заявки.
</p><p>
2.3. Перевозчик вправе:
</p><p>
2.3.1. Требовать выплаты вознаграждения при исполнении обязательств по настоящему договору надлежащим образом.
</p><p>
2.3. Перевозчик обязан:
</p><p>
2.3.1. Предоставить по Заявке Заказчика к перевозке транспортное средство в состоянии, отвечающим техническим требованиям, предъявляемым для данного вида автомобиля.
</p><p>
2.3.2. Доставить вверенный ему Заказчиком груз в пункт назначения и выдать его грузополучателю в установленные Заказчиком сроки.
</p><p>
2.3.3. В случае невозможности обеспечения подачи транспортного средства по Заявке, Перевозчик обязуется предупредить об этом Заказчика за 24 часа до начала перевозки.
</p><p>
2.3.4. Выполнять для Заказчика следующие экспедиционные операции и услуги:<br />
1) При приёмке продукции со склада грузоотправителя Перевозчик проверяет соответствие данных указанных в ТТН относительно числа грузовых мест и вида товаров, а также внешнее состояние груза и упаковки, о чем делается специальная отметка в ТТН.<br />
2) Принимать к перевозке Груз только при наличии надлежащим образом оформленной ТТН и принимать меры к оформлению ТТН Грузоотправителем.
</p><p>
2.3.5. Обеспечивать водителя транспортного средства путевым листом, оформленным в соответствии с требованиями законодательства.
</p><p>
2.3.6. Проинформировать Заказчика о задержки в доставки груза в установленный в Заявке срок, а также о времени прибытия к месту погрузки/разгрузки путем направления письменного уведомления по факсу либо телефонограммой.
</p><p>
В случае возникновения обстоятельств, препятствующих движению (аварии, поломка
транспортного средства, резкое ухудшение погоды и иные) незамедлительно информировать об этом Заказчика. По требованию Заказчика предъявлять соответствующие подтверждающие документы (акт из ремонтной мастерской, справка о ДТП и иное).
</p><p>
2.4.7. Проинформировать Заказчика и получить его согласие в письменной форме на осуществление совместной перевозки Груза Заказчика с грузом третьих лиц.
</p><p>
2.5. Перевозчик расписывается в ТТН, что свидетельствует о приемке груза для организации его перевозки.
</p>

<h3>3. Расчёты за перевозку</h3>
<p>
3.1. Стоимость перевозки и экспедиционных услуг по настоящему договору и порядок оплаты определяется по соглашению сторон и оговаривается по каждой Заявке отдельно. Окончательный расчет осуществляется Заказчиком после предоставления Перевозчиком надлежащим образом оформленной ТТН с отметкой Грузополучателя о получении груза.
</p><p>
3.2. Стоимость по настоящему договору включает в себя провозную плату, стоимость экспедиционных услуг.
</p><p>
3.3. Заказчик может произвести оплату Перевозчику через уполномоченное лицо Перевозчика (водителя транспортного средства или иное лицо), указанное в Заявке путем перечислением денежных средств на карту в виде банковского перевода («Блиц перевод» и иное).
</p>

<h3>4. Ответственность сторон</h3>
<p>
4.1. В случае невывоза Груза по вине Перевозчика Заказчик вправе потребовать уплаты штрафа в размере 20% платы, установленной за перевозку груза.
</p><p>
4.2. В случае несвоевременного предоставления транспортного средства для перевозки Перевозчик уплачивает Заказчику штраф в размере 2000 рублей за каждый полные сутки просрочки.
</p><p>
4.3. Перевозчик несет ответственность за сохранность Груза с момента принятия Груза для перевозки и до момента выдачи Грузополучателю или управомоченному им лицу, о чем свидетельствует отметка в ТТН.
</p><p>
4.4. Перевозчик возмещает ущерб, причиненный при перевозке груза в размере:<br />
1) стоимости утраченного или недостающего Груза, в случае утраты или недостачи Груза;<br />
2) суммы, на которую понизилась стоимость Груза, в случае повреждения (порчи) Груза или стоимости Груза, в случае невозможности восстановления поврежденного (испорченного) Груза.
<br />
<%= render :partial => 'footer', :locals => { :page_num => 2, :page_count => 4 } %>

3) доли объявленной стоимости Груза, соответствующей недостающей или поврежденной
(испорченной) части груза, в случае недостачи, повреждения (порчи) Груза, сданных для перевозки с объявленной ценностью;<br />
4) объявленной стоимости в случае утраты Груза, а также невозможности восстановления Груза, сданных для перевозки с объявленной ценностью и испорченных или поврежденных.
</p><p>
4.5. Стоимость Груза, определяется исходя из цены груза, багажа, указанной в счете продавца или предусмотренной договором перевозки Груза, а при отсутствии счета или указания цены в договоре исходя из цены, которая при сравнимых обстоятельствах обычно взимается за аналогичные товары.
</p><p>
4.6. Перевозчик наряду с возмещением ущерба, вызванного утратой, недостачей, повреждением (порчей) Груза возвращает Заказчику провозную плату, полученную за перевозку Груза.
</p><p>
4.7. В случае просрочки доставки Груза Перевозчик уплачивает Заказчику штраф в размере 9 процентов провозной платы за каждые сутки просрочки. Общая сумма штрафа за просрочку доставки Груза не может превышать размер его провозной платы.
</p><p>
4.8. В случае аннуляции Заявки либо отказа Заказчика от Заявки менее чем за 24 часа до начала оказания услуг Заказчик уплачивает Перевозчику штраф в размере 1500 рублей.
</p><p>
4.9. В случае задержки (простоя) транспортного средства, поданного под погрузку, выгрузку Заказчик уплачивает Перевозчику штраф в размере 1000 рублей за каждые полные сутки.
</p><p>
4.10. В случае если для перевозки подали автомобиль, не соответствующий требованиям Заказчика (в том числе без предъявления санитарного паспорта на автомобиль), последний вправе отказаться от его использования.
</p><p>
4.11. Заказчик не имеет права в одностороннем порядке отказаться от услуг Перевозчика, иначе Заказчик возмещает Перевозчику стоимость затрат, производимых Перевозчиком для выполнения Заявки Заказчика, в полном объеме.
</p><p>
4.12. Перевозчик обязан обеспечить выполнение необходимых мероприятий по технике безопасности, пожарной безопасности, охране окружающей среды, а также нести полную ответственность за соблюдение своими работниками на территории грузоотправителя и (или) грузополучателя правил по охране труда, технике безопасности, пожарной безопасности, охране окружающей среды. Перевозчик самостоятельно несет ответственность за ущерб, причиненный личности,
природе или имуществу третьих лиц. За полученные травмы работниками Перевозчика Заказчик ответственности не несет.
</p><p>
4.13. Перевозчик несет ответственность за несвоевременное уведомление либо неуведомление в соответствии с п. 2.4.6. настоящего договора о задержки доставки груза, времени прибытия на погрузку/разгрузку либо об обстоятельствах, которые свидетельствуют о возможных нарушениях условий доставки Груза в виде уплаты штрафа в размере 1000 рублей за каждый случай.
</p>

<h3>5. Конфиденциальность полученной информации.</h3>
<p>
5.1. Стороны пришли к соглашению, о том, что сведения, которые стали известны Сторонам из настоящего договора (информация о расценках, тарифах, контрагентах и т. д.), признаются коммерческой тайной, а также иные сведения, которые могут быть отнесены законом к коммерческой тайне не подлежат разглашению Сторонами, а также всеми работниками Сторон как в период действия настоящего договора, так и в течение 3 лет после его окончания.
</p>

<h3>6. Форс-мажор</h3>
<p>
6.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по настоящему Договору в случае возникновения обстоятельств непреодолимой силы, которые ни одна из Сторон была не в состоянии предвидеть и/или предотвратить разумными мерами, и которые повлияли на исполнение Сторонами своих обязательств по настоящему Договору.
</p><p>
6.2. К обстоятельствам непреодолимой силы относятся события, на которые стороны не могут оказать влияния и за возникновение которых они не несут ответственности, например, землетрясения, наводнения, ураганы и другие стихийные бедствия; войны, военные действия, пожары, аварии, а также постановления или распоряжения органов государственной власти и управления.
</p><p>
6.3. Сторона, которая не в состоянии выполнить свои обязательства по настоящему Договору в силу возникновения обстоятельств должна в письменной форме сообщить другой стороне о характере обстоятельств, дать оценку их влияния на исполнение и известить о возможном сроке исполнения обязательств по настоящему Договору.
</p><p>
6.4. Не извещение и/или несвоевременное извещение другой Стороны согласно пункту 5.3 настоящего Договора влечет за собой утрату Стороной права ссылаться на эти обстоятельства.
</p>
<%= render :partial => 'footer', :locals => { :page_num => 3, :page_count => 4 } %>

<p>
6.5. Подтверждением наличия и продолжительности действия обстоятельств непреодолимой силы будут являться свидетельства, выданные Торгово-промышленной палатой Российской Федерации и/или иным компетентным государственным органом.
</p><p>
6.6. Если подобные обстоятельства продлятся более 30 (тридцати) дней подряд, то любая из Сторон вправе расторгнуть настоящий Договор в одностороннем порядке, известив об этом другую Сторону не менее чем за 5 (пять) дней до даты предполагаемого расторжения.
</p>

<h3>7. Иные условия</h3>
<p>
7.1. Во всем, что не урегулировано настоящим договором, стороны будут руководствоваться действующим законодательством РФ.
</p><p>
7.2. Все споры, возникающие при исполнении или расторжении настоящего договора, решаются путем переговоров. Срок рассмотрения претензии Заказчиком 30 (Тридцать) календарных дней со дня ее получения. В случае если стороны не пришли к соглашению, спор передается на рассмотрение в арбитражный суд Омской области.
</p><p>
7.3. До предъявления иска к Перевозчику, вытекающего из договора перевозки Груза, Заказчик обязан предъявить Перевозчику претензию в порядке, предусмотренном действующим законодательством.
</p><p>
7.4. Все документы и переписка по настоящему договору должны быть совершены сторонами в письменном виде и подписаны уполномоченными лицами.
</p><p>
Стороны по настоящему договору пришли к соглашению о том, что допускается обмен документами по заключению, исполнению или расторжению настоящего договора (договор, заявка, уведомления и пр.) посредством факсимильной или электронной почты, данные документы признаются действительными и имеющими юридическую силу.
</p><p>
7.5. Настоящий договор составлен на русском языке в двух экземплярах, имеющих одинаковую юридическую силу, вступает в силу с «___»___________ 2012г. и действует до 31.12.2012 г.
</p><p>
Если за 30 дней до окончания срока действия договора ни одна из сторон не заявит о намерении прекращения отношений по договору, то договор считается пролонгированным на следующий календарный год. В случае досрочного расторжения договора одной из сторон с уведомлением об этом другой стороны за 30 дней до предполагаемого расторжения, договор действует до полного исполнения сторонами своих обязательств.
</p>

<h3>8. Реквизиты и подписи сторон:</h3>
<table class="print_order">
  <tr>
    <th>Экспедитор
    <th>Клиент
  </tr>
  <tr>
    <td><strong>Адрес м/я: </strong><%= company_address %>
    <td><strong>Адрес м/я: </strong><%= @shipper.address1 %>
  </tr>
  <tr>
    <td><strong>Адрес почтовый: </strong><%= company_address %>
    <td><strong>Адрес почтовый: </strong><%= @shipper.address2 == "" ? @shipper.address1 : @shipper.address2 %>
  </tr>
  <tr>
    <td><strong>ИНН/КПП </strong>5503234484 /550301001
    <td><strong>ИНН/КПП </strong><%= "#{@shipper.inn} / #{@shipper.kpp}" %>
  </tr>
  <tr>
    <td><strong>р/с </strong>40702810918100024299
    <td><strong>р/с </strong><%= @shipper.account %>
  </tr>
  <tr>
    <td><strong>Банк: </strong>ОАО АКБ «АВАНГАРД» г.Москва
    <td><strong>Банк: </strong><%= @shipper.ati %>
  </tr>
  <tr>
    <td><strong>к/с </strong>30101810000000000201
    <td><strong>к/с </strong><%= @shipper.corr_account %>
  </tr>
  <tr>
    <td><strong>БИК </strong>044525201
    <td><strong>БИК </strong><%= @shipper.bic %>
  </tr>
  <tr>
    <td><strong>Тел/факс </strong>8(3812) 465-717
    <td><strong>Тел/факс </strong><%= @shipper.phones %>
  </tr>
  <tr>
    <td><strong>e-mail: </strong>avtodor55@gmail.com
    <td><strong>e-mail: </strong><%= @shipper.email %>
  </tr>
  <tr>
    <td><strong>Ответственное лицо: </strong>Осипов Сергей Владимирович
    <td><strong>Ответственное лицо: </strong><%= @shipper.contact %>
  </tr>
</table>
<p></p>
<table>
  <tr>
    <th>Заказчик
    <th>Перевозчик
  </tr>
  <tr>
    <th>Директор <%= company_name %>
    <th>Директор <%= @shipper.name %>
  </tr>
  <tr>
    <td>___________________(Осипов С.В.)
    <td>___________________( <%= @shipper.director_short %>)
  </tr>
  <tr>
    <td>М.п.
    <td>М.п.
  </tr>
</table>
<p></p>
<%= render :partial => 'footer', :locals => { :page_num => 4, :page_count => 4 } %>
</div>
