<h2>Наши водители</h2>

<%= link_to "Добавить", new_driver_path, :class => 'command' %>

<div class="clients">
  <%= will_paginate %>
  <%= render @drivers %>
  <%= will_paginate %>
</div>

<%= link_to "Добавить", new_driver_path, :class => 'command' %>

