<header>
    <%= logo %>
    <nav class="round">
      <ul>
        <li><%= link_to "Домашняя страница", root_path %></li>
        <li><%= link_to "Справка", help_path %></li>
        <% if signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "Добавить пользователя", signup_path %></li>
            <li><%= link_to "Пользователи", users_path %></li>
          <% end %>
          <li><%= link_to current_user.name, edit_user_path(current_user) %></li>
          <li><%= link_to "Выйти", signout_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Войти", signin_path %></li>
        <% end %>
      </ul>
    </nav>
</header>
