  <script type="text/javascript">
    $j = jQuery.noConflict();
  </script>
  <div class="header">
      <div class="nav-bar">
        <h1><%= company_name %></h1>
        <nav>
          <ul>
            <% if signed_in? %>
              <li <%= "class=active" if @tab=="me" %>><%= link_to current_user.name, user_path(current_user) %></li>
              <li <%= "class=active" if @tab=="client" %>><%= link_to "Клиенты", clients_path %></li>
              <li <%= "class=active" if @tab=="shipper" %>><%= link_to "Перевозчики", shippers_path %></li>
              <li <%= "class=active" if @tab=="driver" %>><%= link_to "Водители", drivers_path %></li>
              <li <%= "class=active" if @tab=="truck" %>><%= link_to "Транспорт", trucks_path %></li>
                <li <%= "class=active" if @tab=="trailer" %>><%= link_to "Прицепы", trailers_path %></li>
              <% if current_user.admin? %>
                <li <%= "class=active" if @tab=="user"%>><%= link_to "Пользователи", users_path %></li>
              <% end %>
              <li><%= link_to "Выйти", signout_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Войти", signin_path %></li>
            <% end %>
            <li <%= "class='active'" if @tab=="home"%>><%= link_to "Справка", root_path %></li>
          </ul>
        </nav>
      </div>
  </div>
