<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%#= javascript_include_tag :defaults %>
    <%= javascript_include_tag :prototype %>
    <%= javascript_include_tag 'jquery', 'rails', 'jquery-ui' %>
    <%= javascript_include_tag 'nested_form' %>
    <%= javascript_include_tag :application %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/calendar_date_select' %>
  </head>
  <body>
    <% unless flash.empty? %>
      <section>
        <% flash.each do |key, value| %>
          <div class="flash_<%= key %>"><%= value%></div>
        <% end %>
      </section>
    <% end %>
    <div class="container">
      <%= render 'layouts/header' %>
      <div id="main">
        <div class="main-block">
          <%= yield %>
        </div>
        <div style="float:left;">
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
      <%#= render 'layouts/footer' %>
    </div>
  </body>
</html>
